services:
  proxy:
    build: .
    image: appium-selenium-proxy
    ports:
      - "8090:8090"

  frontend:
    build:
      context: ./frontend
    image: device-proxy-frontend
    depends_on:
      - proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./ssl/cert.crt:/etc/nginx/ssl/cert.crt:ro
      - ./ssl/cert.key:/etc/nginx/ssl/cert.key:ro
