services:
  proxy:
    build: .
    image: appium-selenium-proxy
    ports:
      - "8090:8090"

  frontend:
    build:
      context: ./frontend
    image: device-proxy-frontend
    depends_on:
      - proxy
    ports:
      - "8080:8080"
