services:
  proxy:
    build: .
    image: appium-selenium-proxy
    ports:
      - "8090:8090"
    extra_hosts:
      - "devicehub.qa.fortinet-us.com:10.160.13.118"

  frontend:
    build:
      context: ./frontend
    image: device-proxy-frontend
    depends_on:
      - proxy
    ports:
      - "443:443"
    volumes:
      - ./ssl/tls.crt:/etc/nginx/ssl/cert.crt:ro
      - ./ssl/tls.key:/etc/nginx/ssl/cert.key:ro
    extra_hosts:
      - "devicehub.qa.fortinet-us.com:10.160.13.118"
